@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.dashboard-container{
/*	background: linear-gradient(#BF953F, #56CCF2);*/	
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
}

.yAxis{
	color: black;
}

.company-info-container{
	padding-top: 20px;
	font-family: "Source Sans Pro";
	color: black;
	float: left;
	margin-left: 2%;
}

#company-info-specifics{
	padding-top: 10px;
}

#company-ceo{
	margin: auto;
}

#company-location{
	margin: auto;
}

#company-industry{
	margin: auto;
}

#company-sector{
	margin: auto;
}

#company-employees{
	margin: auto;
}

#companyHeader{
	letter-spacing: 1px;
	font-weight: 100;
	font-size: 36px;
}

#stock-price{
	font-size: 28px;
}

#price{
	font-weight: bold;
}

.recharts-wrapper{
	float: right;
	margin-right: 200px;
}

.tab-container{
	background: none;
}

div.ui.bottom.attached.segment.active.tab.panes{
	background: none;
	border: none;
}