@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

.nav-header{
	padding-top: 55px !important;
	text-align: center;
}

#nav-logo{
	width: 135px;
	padding-left: 10px;
}

#nav-profile{
	padding-top: 20px;
}

#menu-container{
	width: 100%;
	height: 100%;
	border: none;
	box-shadow: none;
}

#menu-item-container{
	padding-top: 100px;
}

.menu-item{
	padding-top: 2px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: "Source Sans Pro";
	font-weight: 100;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;	
}

.menu-item > .link{
	font-size: 16px;
	font-weight: 100;
	font-family: "Source Sans Pro";
}

#login-container{
	bottom: 0;
	position: fixed;
}