@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

#nav-container{
	width: 100%;
}

#input-container{
	margin-top: 20px !important;
	margin-left: 20px;
}

#ticker-input{
	width: 200px;
	text-align: center;
	font-family: "Source Sans Pro";
	font-weight: 100;
	background: none;
	border: none;
}

#search-button{
	margin-left: 10px;
	background: none;
	color: black;
	font-family: "Source Sans Pro";
	font-weight: 100;
}

#app-body{
	background: 100%;
	padding-right: 15px;
}

#fetch-message{
	text-align: center;
	font-family: "Source Sans Pro";
	font-weight: 100;
}