@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

#nav-container{
	text-align: center;
	height:60px;
	border-bottom: 1px solid #d9d9d9;
}

#input-container{
	padding-top: 10px;
}

#ticker-input{
	width: 250px;
	text-align: center;
	font-family: "Source Sans Pro";
	font-weight: 100;
}

#search-button{
	margin-left: 10px;
	background: #3F5EFB;
	color: white;
	font-family: "Source Sans Pro";
	font-weight: 100;
}


#fetch-message{
	text-align: center;
	font-family: "Source Sans Pro";
	font-weight: 100;
}