@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


body{
	margin: 0;
  	background: url("https://bull-insights.s3.amazonaws.com/images/bull-wallpaper.png") no-repeat;
  	height: 100%;
  	-webkit-background-size:cover;
  	-moz-background-size:cover;
  	-o-background-size:cover;
  	background-size:cover;  	
}